h1{
  color:green;
  background-color: #8c9199;
}

.title{
  color: black;
  background-color: #518e89;
}

#profile-picture{
  width: 500px;
  #vh/vw percents of the viewer profile
  #% percentage relative to the container
}

img {
  border-radius: 8px;
}
