h1{
  color: black;
  background-color: #8cd8d2;
}

.title{
  color: black;
  background-color: #518e89;
}
<vh/vw percents of the viewer profile>
<percentage relative to the container>
<px is pixels>
#profile-picture{
  width: 60vw;
}

.content{
  width: 50vw;
  border: 1px solid #000;
  margin-left: 10vw;
  padding: 10vw;
  /* position: fixed| relative| absolute| */
}

.container{
  display: flex;
  height: 100 px;
  width: 75 pw;
  padding: 10px;
}

.button{
  margin-left: 90vw;
}

.child{
  width: 100px;
  height: 100px;
  colour: black;
  background-color: skyblue;
}

img {
  border-radius: 8px;
}
