h1{
  color:green;
  background-color: #8c9199;
}

.title{
  color: black;
  background-color: #518e89;
}
<vh/vw percents of the viewer profile>
<percentage relative to the container>
<px is pixels>
#profile-picture{
  width: 60vw;

}

.content{
  width: 50vw;
  border: 1px solid #000;
  margin-left: 10%;
  padding: 10vw;
}

img {
  border-radius: 8px;
}
